<h1>Questions#answer</h1>

<p> <%= @coach_input %> </p>
<p> Stupid Coach</p>



<p> <%= @user_input %> </p>
<p> You</p>

<h1>Click Here if you want to try again!</h1>
<form action="./ask">
  <input type="submit">
</form>
